<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to API</title>
</head>
<body>
  <h1>Weather data API</h1>
  <p>URL Format: http://127.0.0.1:5000/api/v1/station/date</p>
  <p>For a date data of a station example: http://127.0.0.1:5000/api/v1/10/2022-05-07</p>
  <p>For all data of a station example: http://127.0.0.1:5000/api/v1/10</p>
  <p>For a year data of a station example: http://127.0.0.1:5000/api/v1/yearly/10/1900</p>
  <p>{{data|safe}}</p>
</body>
</html>